modLoader="javafml"
loaderVersion="[46,)"
license="GNU"

[[mods]]
modId="fullcustomevents" 
version="1.0.0" 
displayName="Full Custom Events" 
authors="PeriodicBrake_dev"
description='''FCE is a mod that allows you to create and manage custom events and quests for your multiplayer servers'''

[[dependencies.${mod_id}]] 
    modId="forge"
    mandatory=true
    versionRange="${forge_version_range}"
    ordering="NONE"
    side="BOTH"

[[dependencies.${mod_id}]]
    modId="minecraft"
    mandatory=true
    versionRange="${minecraft_version_range}"
    ordering="NONE"
    side="BOTH"






